@model LifePlanner.Models.Jelo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Jelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <button onclick="addRow()" type="button">Dodaj red</button>
            </br>
            <table id="SastojciTabela">
                <tr>
                    <th></th>
                </tr>
                @for (int i = 0; i < Model.Sastojci.Count; i++)
                {
                    @:<tr>
                        @:<input type="text" name="Sastojci[@i]" value="@Model.Sastojci[i]" />
                        @:<input type="button" id="Sastojci[@i]" onclick="obrisi(this)" value="Obrisi" /">
                    @:</tr>
                    <br>
                }
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SvaJela">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        window.counter = @Model.Sastojci.Count;
</script>
<script src="~/js/tabelaZaUnos.js"></script>
}
