#zadaci {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h2 {
    justify-content: center;

    text-align: center;
}

#glavno {
    display: grid;
    width: 100%;
    /*height: 250px;*/
    grid-template-areas: "savjet savjet savjet savjet"
        "zadaci zadaci kalendar kalendar"
        "zadaci zadaci kalendar kalendar"
        "kakavDan kakavDan kalendar kalendar"
        ;
}

#glavno > #savjet {
    grid-area: savjet;
    margin-bottom: 50px;
}

#glavno > #zadaci {
    grid-area: zadaci;
    overflow-y: scroll;
    height: 35vh;
    width: 30vw;
}

#glavno > .calendar {
    grid-area: kalendar;
    overflow-x: hidden;
    width: 100%;
}

#glavno > #kakavDan {
    grid-area: kakavDan;
    margin-top: 60px;
}