body {
    background: url('../img/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
}

#zadaci {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h2 {
    justify-content: center;

    text-align: center;
}

#glavno {
    display: grid;
    width: 100%;
    /*height: 250px;*/
    grid-template-areas: "savjet savjet savjet savjet"
        "zadaci zadaci kalendar kalendar"
        "zadaci zadaci kalendar kalendar"
        "zadaci zadaci kalendar kalendar"
        "kakavDan kakavDan kalendar kalendar"
        "kakavDan kakavDan kalendar kalendar";
}


#glavno > div {
    background-color: white;
    border-radius: 30px;
}


#glavno > #savjet {
    grid-area: savjet;
    margin-bottom: 50px;
}



#glavno > #zadaci {
    grid-area: zadaci;
    overflow-y: auto;
    scrollbar-width: none;
    height: 35vh;
    width: 30vw;
    margin: 0;
}

#zadaci::-webkit-scrollbar {
    display: none; /* Safari and Chrome, i za Operu od nase drage kolegice */
}

#glavno > .calendar {
    grid-area: kalendar;
    overflow-x: hidden;
    width: 100%;
}

#glavno > #kakavDan {
    grid-area: kakavDan;
    margin-top: 60px;
    width: 30vw;
    padding: 15px;
}

#glavno > #kakavDan > * {

}