@model LifePlanner.Models.Trening

@{
    ViewData["Title"] = "Kreiranje treninga";
}

<h1>Kreirajanje treninga</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <button onclick="addRow()" type="button">Dodaj vježbu</button>
            <table id="VjezbeTabela">
                <tr>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="Spasi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        window.counter = 0;
    </script>
    <script src="~/js/tabelaZaUnos.js"></script>
}
