@model LifePlanner.Models.Trening

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <button onclick="addRow()" type="button">Dodaj red</button>
            </br>
            <table id="VjezbeTabela">
                <tr>
                    <th></th>
                </tr> 
                @for (int i = 0; i < Model.Vjezbe.Count; i++)
                {
                    @:<tr>
                        @:<input type="text" name="Vjezbe[@i]" value="@Model.Vjezbe[i]"/>
                        @:<input type="button" id="Vjezbe[@i]" onclick="obrisi(this)" value="Obrisi" /">
                    @:</tr>
                    <br>
                }
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var counter = @Model.Vjezbe.Count;
        function addRow() {
            var table = document.getElementById("VjezbeTabela");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = '<input type="text" name="Vjezbe[' + counter + ']"/>';
            cell2.innerHTML = '<input type="button" id="Vjezbe[' + counter + ']" onclick="obrisi(this)" value="Obrisi" /">'
            counter++;
        }

        function obrisi(el) {
            let inputZaBrisanje;
            var allInputs = document.getElementsByTagName("input");
            for (var x = 0; x < allInputs.length; x++)
                if (allInputs[x].name == el.id) {
                    inputZaBrisanje = allInputs[x];
                    break;
                }
            inputZaBrisanje.value = "";
            inputZaBrisanje.style.visibility = "hidden";
            el.style.visibility = "hidden";
            return false;
        }

        $(document).ready(() => {

        })
</script>
}
