@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potvrda email";
}

<h1>@ViewData["Title"]</h1>

<p>@Model.StatusMessage</p>
<p>Kliknite na Nastavi da započnete koristiti aplikaciju</p>

@if(Model.Uspjelo)
{
    <button><a href="/">Nastavi</a></button>
}