@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potvrda registracije";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.Uspjesno)
    {
<p>
    Link za potvrdu e-mail adrese vam je poslan. 
</p>
    }
    else
    {
<p>
        Link za potvrdu e-mail adrese nije poslan. Molimo kontaktirajte administratora na lifeplannerdemo@gmail.com
</p>
    }

    <p>Ovaj prozor mozete zatvoriti!</p>
}
